body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Весь новогодний мир */
.world {
    position: relative;
    height: 100%;
    min-width: 1280px;
    box-sizing: border-box;
}

/* Звездное небо */
.sky {
    position: relative;
    height: 80%;
    background-color: #1f263b;
}

.starSky {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, rgba(248,255,125,1) 1%, rgba(221,222,95,0.3) 1%, transparent 9%),
                      radial-gradient(circle, rgba(248,255,125,1) 1%, rgba(221,222,95,0.3) 1%, transparent 6%),
                      radial-gradient(circle, rgba(248,255,125,.5) 1%, rgba(221,222,95,0.3) 1%, transparent 6%),
                      radial-gradient(circle, rgba(248,255,125,1) 0%, rgba(221,222,95,0.3) 0%, transparent 6%);
    background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
    background-position: -180px 0, -30px 60px, 130px 270px, -50px 150px;
    animation-name: star_sky;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: background-position;
    z-index: -1;
}

.snow {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 1%, transparent 1%),
                      radial-gradient(circle, rgba(255,255,255,1) 1%, rgba(255,255,255,0.7) 1%, transparent 2%),
                      radial-gradient(circle, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 1%, transparent 3%),
                      radial-gradient(circle, rgba(255,255,255,5) 1%, rgba(255,255,255,0.7) 1%, transparent 4%),
                      radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 1%, transparent 2%);
    background-size: 250px 340px, 230px 300px, 200px 210px, 120px 200px, 160px 120px;
    background-position: -180px 0, -30px 60px, 130px 270px, -50px 150px, 60px 20px;
    animation-name: snow;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 100;
    will-change: background-position;
}

/* Луна */
.moon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(183, 236, 150);
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 300px;
    box-shadow: 0 0 20px 15px rgba(183, 236, 150, .15);
}

/* Земля */
.land {
    position: relative;
    height: 600px;
    z-index: 1;
}

.mountain {
    width: 50%;
    height: 100%;
    position: absolute;
    top: -100px;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
    background-color: aliceblue;
}

.mountain-1 {
    left: -250px;
    z-index: -1;
}

.mountain-2 {
    transform: scale(1.7);
    top: 50px;
    left: calc(100% - 76%);
}

.mountain-3 {
    z-index: -1;
    right: -250px;
}

/* Елка */
.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -185px;
    left: 0;
    right: 0;
    z-index: 1;
}

.tree-1-1 {
    transform-origin: center;
    transform: scale(.8);
    top: -133px;
}

.tree-1-2 {
    transform-origin: center;
    transform: scale(.6);
    top: -90px;
    left: -130px;
}

.tree-3-1 {
    transform-origin: center;
    transform: scale(1);
    top: -175px;
}

.tree-3-2 {
    transform-origin: center;
    transform: scale(.6);
    top: -90px;
    left: 130px;
}

.tree-1-1 .spruce-1,
.tree-1-1 .spruce-1:after,
.tree-1-1 .spruce-1:before,
.tree-3-1 .spruce-1,
.tree-3-1 .spruce-1:after,
.tree-3-1 .spruce-1:before {
    border-bottom-color: rgb(0, 100, 0);
}

.tree-1-1 .spruce-2,
.tree-1-1 .spruce-2:before,
.tree-3-1 .spruce-2,
.tree-3-1 .spruce-2:before {
    border-bottom-color: rgb(0, 100, 0);
}

.tree-1-3 {
    top: -175px;
    z-index: -1;
    left: -100px;
}

.tree-3-3 {
    transform: scale(1.2);
    top: -220px;
    z-index: -1;
    left: 100px;
}

.tree-1-3 .spruce-1,
.tree-1-3 .spruce-2,
.tree-3-3 .spruce-1,
.tree-3-3 .spruce-2,
.tree-1-3 .spruce-1:after,
.tree-1-3 .spruce-1::before,
.tree-1-3 .spruce-2:before,
.tree-3-3 .spruce-1:after,
.tree-3-3 .spruce-1::before,
.tree-3-3 .spruce-2:before {
    border-bottom-color: rgb(0, 80, 0);
}

.spruce-1, 
.spruce-2,
.spruce-1:before, 
.spruce-1:after,
.spruce-2:before {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
}

.spruce-1 {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 80px solid green;
    top: -125px;
}
.spruce-1:before {
    content:'';
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid green;
    left: -100px;
    top: 35px;
}
.spruce-1:after {
    content:'';
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 120px solid green;
    left: -120px;
    top: 80px;
}

.spruce-2 {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 140px solid green;
}
.spruce-2:before {
    content:'';
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 160px solid green;
    left: -160px;
    top: 40px;
}
.spruce-2:after {
    content: '';
    border: 40px solid #2e2106;
    top: 135px;
    position: absolute;
    z-index: -1;
    left: -40px;
    border-radius: 5px;
}

/* Звезда */
.star {
    position: relative;
    top: -145px;
    z-index: 1;
    left: -3px;
}

.star__part-1, .star__part-1:before, .star__part-1:after  {
    border-bottom: 20px solid #aa0000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
}

.star__part-2 {
    position: relative;
    top: 25px;
    left: -15px;
    background: #aa0000;
}

.star__part-2:after, .star__part-2:before {
    content: '';
    border-right: 9px solid #aa0000;
    border-left: 9px solid transparent; 
    border-top: 5px solid #aa0000;
    border-bottom: 5px solid transparent;
    top: -12px;
    left: 0;
    position: absolute;
}

.star__part-2:after {
    transform: scale(-1, 1);
    left: 22px;
}

.star__part-1:before, .star__part-1:after {
    content: '';
    transform-origin: center;
    transform: scale(1, -1) rotate(-30deg);
    top: 18px;
    left: -10px;
    position: absolute;
}

.star__part-1:after {
    transform: scale(1, -1) rotate(30deg);
    left: 0;
}

.sunlight {
    position: relative;
    width: 5px;
    height: 5px;
    box-shadow: 0 0 20px 30px rgba(255, 0, 0, .15),
                0 0 20px 20px rgba(251, 255, 30, 0.1);
    border-radius: 50%;
    z-index: -1;
    top: 15px;
    left: 3px;
    animation: pulseStar 3s ease-out infinite;
    will-change: box-shadow;
}

/* Гирлянда */
.garlands {
    position: absolute;
    top: -105px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.garland {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    font-size: 0;
}

.light {
    width: 19px;
    height: 19px;
    display: inline-block;
    background: #9b113f;
    border-radius: 50%;
    margin: 0;
    position: relative;
    animation-name: light;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 11;
    will-change: box-shadow;
}

.light.size-m {
    width: 17px;
    height: 17px;
}

.light.size-xs {
    width: 13px;
    height: 13px;
}

.garland-1 {
    top: 43px;
}

.garland-2 {
    top: 73px;
}

.garland-3 {
    top: 115px;
}

.garland-4 {
    top: 153px;
}

.garland-5 {
    top: 190px;
}

.light-3 {
    top: 10px;
}

.light-4 {
    top: 13px;
}

.light-5 {
    top: 16px;
}

.light-6 {
    top: 19px;
}

.light-7 {
    top: 22px;
}

.light-8 {
    top: 25px;
}

.light.green {
    background: rgb(144, 238, 144);
    color: rgba(144, 238, 144, .5);
    animation-duration: 1s;
    animation-delay: .2s;
}

.light.blue {
    background: rgb(57, 58, 138);
    color: rgba(57, 58, 138, .5);
    animation-duration: 1.5s;
    animation-delay: .8s;
}

.light.red {
    background: rgb(100, 29, 29);
    color: rgba(100, 29, 29, .5);
    animation-duration: 1s;
    animation-delay: .9s;
}

.light.yellow {
    background: rgb(196, 193, 31);
    color: rgba(196, 193, 31, .5);
    animation-duration: 1.6s;
    animation-delay: .4s;
}

.light.orange {
    background: rgb(185, 79, 18);
    color: rgba(185, 79, 18, .5);
    animation-duration: 1.7s;
    animation-delay: 1s;
}

.light.pink {
    background: rgb(114, 16, 114);
    color: rgba(114, 16, 114, .5);
    animation-duration: 1.3s;
    animation-delay: .7s;
}

.light.skyblue {
    background: rgb(135, 206, 235);
    color: rgba(135, 206, 235, .5);
    animation-duration: 2s;
    animation-delay: .9s;
}

.light.white {
    background: white;
    color: rgba(255, 255, 255, .5);
    animation-duration: 1.3s;
    animation-delay: .3s;
}

.light.indigo {
    background: rgb(75, 0, 130);
    color: rgba(75, 0, 130, .5);
    animation-duration: .9s;
    animation-delay: .8s;
}

.light.gold {
    background: rgb(218, 165, 32);
    color: rgba(218, 165, 32, .5);
    animation-duration: 1.7s;
    animation-delay: .7s;
}
.light.orchid {
    background: rgb(218, 112, 214);
    color: rgba(218, 112, 214, .5);
    animation-duration: 2s;
    animation-delay: .3s;
}

.light.aquamarine {
    background: rgb(127, 255, 212);
    color: rgba(127, 255, 212, .5);
    animation-duration: 1.5s;
    animation-delay: .9s;
}

.light.grey {
    background: rgb(128, 128, 128);
    color: rgba(128, 128, 128 , .5);
    animation-duration: 1.4s;
    animation-delay: .6s;
}

/* Санта */
.santa {
  position: absolute;
  top: 45%;
  left: 30%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Голова */
.head {
  width: 75px;
  height: 85px;
  background: #ffdbac;
  border-radius: 50%;
  position: relative;
  z-index: 5;
  animation-name: look;
  animation-duration: .8s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  will-change: transform;
}

.cap {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 45px solid red;
  position: absolute;
  top: -35px;
  left: 13px;
}

.cap:after {
  content: '';
  border-left: 33px solid aliceblue;
  border-right: 33px solid aliceblue;
  border-top: 10px solid aliceblue;
  border-bottom: 10px solid aliceblue;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);
  border-radius: 35%;
  position: absolute;
  top: 35px;
  left: -33px;
}

.cap:before {
  widht: 0;
  hieght: 0;
  content: '';
  border: 7px solid aliceblue;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -7px;
}

.eyes-1, .eyes-2 {
  position: relative;
  width: 15px;
  height: 15px;
  border: 2px solid brown;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 15px;
}

.eyes-2 {
  left: 45px;
}

.eyes-1:after, .eyes-2:after {
  content: '';
  position: absolute;
  border: 5px solid white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}

.eyes-1:before, .eyes-2:before {
  content: '';
  position: absolute;
  border: 2px solid green;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  z-index: 1;
  box-shadow: 0 0 1px .3px rgba(0, 0, 0, 1);  
}

.compound {
  position: absolute;
  border-top: 2px solid brown;
  border-radius: 45%;
  width: 15px;
  height: 15px;
  top: 35px;
  left: 32px;
}

.ears {
    position: relative;
}

.ears:after, .ears::before {
    content: '';
    width: 3px;
    height: 20px;
    position: absolute;
    bottom: -45px;
    
    left: -5px;
    border-radius: 50%;
}

.ears:after {
    border-left: 10px solid #ffdbac;
}

.ears::before {
    border-right: 10px solid #ffdbac;
    left: 67px;
}

.nose {
  position: relative;
  border: 4px solid #f8bde4;
  border-bottom: none;
  border-radius: 50%;
  width: 1px;
  top: 45px;
  left: 35px;
  box-shadow: 0 0 1px .3px rgba(0, 0, 0, 1);
}
  
.nose:before {
    content: '';
    position: absolute;
    border-bottom: 15px solid #ECC875;
    border-right: 5px solid transparent;
    border-left: 6px solid transparent;
    border-radius: 40%;
    top: -16px;
    z-index: -1;
    left: -5px;
}

.beard {
    position: absolute;
    border-top: 100px solid #d6d6d6;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-radius: 50%;
    top: 55px;
    left: 3px;
    z-index: 2;
}
.mustache {
    position: absolute;
    z-index: 4;
}

.mustache:after, .mustache:before {
    content: '';
    position: absolute;
    border-top: 50px solid #d6d6d6;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 50%;
    left: 7px;
    top: 34px;
    transform: rotate(65deg);
}

.mustache:before {
    transform: rotate(-65deg);
    left: 51px;
}

.lips {
    position: absolute;
    width: 20px;
    height: 15px;
    background: gray;
    bottom: 17px;
    left: 29px;
    border-radius: 50%;
    z-index: 3;
    box-sizing: border-box;
    border: 3px solid darkgray; 
}

/* Тело санты */
.animate-move {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: moveBody;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    will-change: transform;
}

.body {
    position: relative;
    width: 150px;
    height: 160px;
    border-radius: 50%;
    background: red;
    top: -15px;
    z-index: 4;
}

.body:before {
    content: '';
    height: 155px;
    position: absolute;
    left: 71px;
    border-left: 10px dotted black;
    z-index: 1;
}

.body::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 160px;
    background: aliceblue;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15);
    border-radius: 20px;
    left: 66px;
}


/* Руки */
.heand-1, .heand-2 {
    z-index: 6;
}

.heand-1.hello {
    top: -40px;
    left: -30px;
    animation-name: hello_men;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    will-change: transform;
}

.heand-1, .heand-2 {
    width: 30px;
    height: 50px;
    border-radius: 20px;
    background: #aa0000;
    position: absolute;
    top: 105px;
    transform: rotate(-5deg);
    left: -2px;
}

.heand-1:after, .heand-2:after {
    content: '';
    width: 35px;
    height: 14px;
    border-radius: 20px;
    background: aliceblue;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15);
    position: absolute;
    top: 0px;
    left: -3px;
}

.heand-1:before, .heand-2:before {
    content: '';
    width: 13px;
    height: 40px;
    border-radius: 20px;
    background: #aa0000;
    position: absolute;
    top: 0px;
    left: 22px;
    transform: rotate(-35deg);
}

.heand-2 {
    left: 125px;
    transform: rotate(5deg);
}

.heand-2:before {
    transform: rotate(35deg);
    left: -6px;
}

.belt {
    position: relative;
    z-index: 5;
}

.belt:after {
    content: '';
    background: black;
    width: 140px;
    height: 15px;
    position: absolute;
    top: 108px;
    left: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.belt:before {
    content: '';
    position: absolute;
    height: 17px;
    width: 24px;
    background: gold;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15);
    top: 107px;
    left: 64px;
    z-index: 1;
}

/* Ноги */
.leags {
    position: relative;
}

.leg-1, .leg-2 {
    position: absolute;
    width: 35px;
    height: 55px;
    background: #aa0000;
    border-radius: 2px;
    left: 10px;
}

.leg-1:before, .leg-2:before {
    content: '';
    width: 40px;
    height: 15px;
    position: absolute;
    background: aliceblue;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);
    border-radius: 7px;
    left: -3px;
    top: -1px;
}

.leg-1:after, .leg-2:after {
    content: '';
    position: absolute;
    width: 55px;
    height: 30px;
    bottom: 0;
    background: #aa0000;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.leg-2 {
    left: -42px;
}

.leg-2:after {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    left: -21px;
}

/* Текст */
.celebrate-text {
    position: absolute;
    font-size: 34px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #000;
    width: 100%;
    height: 100%;
}

/* Подарки */
.gifts {
    position: absolute;
    bottom: -175px;
    z-index: 12;
}

.gift, 
.gift:after {
    position: absolute;
}

.gift-1 {
    width: 50px;
    height: 40px;
    background: #9b113f;
    border-radius: 4px;
    z-index: 1;
} 

.gift-1:after {
    content: '';
    height: 40px;
    width: 10px;
    background: green;
    right: 20px;
}

.gift-2 {
    width: 60px;
    height: 100px;
    background: darkblue;
    top: -60px;
    left: 30px;
    border-radius: 4px;
} 

.gift-2:after {
    content: '';
    height: 100px;
    width: 10px;
    background: darkcyan;
    right: 25px;
}

.gift-3 {
    width: 60px;
    height: 25px;
    background: indianred;
    border-radius: 4px;
    top: 15px;
    left: 80px;
} 

.gift-3:after {
    content: '';
    height: 25px;
    width: 10px;
    background: darkgoldenrod;
    right: 25px;
}